<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <path coverage="true">
      <directory suffix=".php">src</directory>
    </path>
    <report>
      <clover outputFile="coverage/clover.xml"/>
      <html outputFile="coverage/html"/>
    </report>
  </coverage>
</phpunit>
